{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
<body>

  {% include 'navbar.html' %}

<div class="col-md-3">

    <div class="list-group" style="padding: 0px; border-radius: 4px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
      <a href="../customer_main/" class="list-group-item active">
      <span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-right: 15px;"></span>Главная</a>
      <a href="../customer_profile/" class="list-group-item">
      <span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right: 15px;"></span>Мой профиль</a>
      <a href="../customer_goods/" class="list-group-item">
       <i class="fa fa-cart-plus fa-lg" aria-hidden="true" style="padding-right: 15px;"></i>Добавить товар
        <span class="badge">2</span></a>
      <a href="../customer_messages/" class="list-group-item">
      <span class="fa fa-comments-o fa-lg" aria-hidden="true" style="padding-right: 15px;"></span>Сообщение 
        <span class="badge">7</span></a>
      <a href="../customer_statistics/" class="list-group-item">
      <span class="fa fa-line-chart" aria-hidden="true" style="padding-right: 15px;"></span>Статистика
        <span class="badge">5</span></a>        
    </div>
    
</div>

<div class="col-md-9">


<div class="col-sm-12" style="margin-bottom: 15px; padding: 0px;">
  
  
    <legend>Все товары</legend>

{% for product in products %}

    <div class="col-md-4 col-xs-6">               
      <div class="jumbotron" style="border-radius: 0px 0px 2px 2px; padding: 0px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); background-color: #fff; height: 400px;">
      <a href="/customer_main_content/?id={{ product.id }}"> 
        <img src="{{ product.image_1.url }}" alt="..." style="width: 100%; border-radius: 2px 2px 0px 0px; height: 65%;"> 
      </a>                
        <div class="container">
          <h4>{{ product.price }} $</h4>
          <h4>{{ product.title }}</h4>
          <h4>
            <a href="/customer_main_content/?id={{ product.id }}" class="btn">Подробнее</a>
          </h4>
        </div>
      </div>
    </div>

{% endfor %}


</div>

</div>
  
</body>
</html>
