{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
<body>

  {% include 'navbar.html' %}

<div class="col-md-3">

    <div class="list-group" style="padding: 0px; border-radius: 4px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
      <a href="../customer_main/" class="list-group-item">
      <span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-right: 15px;"></span>Главная</a>
      <a href="../customer_profile/" class="list-group-item">
      <span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right: 15px;"></span>Мой профиль</a>
      <a href="../customer_goods/" class="list-group-item">
       <i class="fa fa-shopping-basket" aria-hidden="true" style="padding-right: 15px;"></i>Все товары 
        <span class="badge">2</span></a>
      <a href="../customer_messages/" class="list-group-item active">
      <span class="fa fa-comments-o fa-lg" aria-hidden="true" style="padding-right: 15px;"></span>Сообщение 
        <span class="badge">7</span></a>
      <a href="../customer_statistics/" class="list-group-item">
      <span class="fa fa-line-chart" aria-hidden="true" style="padding-right: 15px;"></span>Статистика
        <span class="badge">5</span></a>        
    </div>
    
</div>

<div class="col-md-9">


<div class="col-sm-12" style="margin-bottom: 15px; padding: 0px;">
  

<div class="col-lg-2">
  <div class="btn-group-vertical">
    {% for friend in friends %}
    <a class="btn thumbnail" href="#friend{{ friend.user.id }}" data-toggle="tab" role="button" style="margin: 0px; padding: 5px;">
      {{ friend.user.name }}
      {{ friend.user.surname }}
    </a>
    {% endfor %}
  </div>
</div>


<div class="col-lg-10">
  <div class="tab-content">

  {% for friend in friends %}

    <div class="tab-pane fade in" id="friend{{ friend.user.id }}">

    <div class="col-md-12 col-xs-12">     
      <div class="jumbotron" style="padding: 0px; margin: 0px; border-radius: 2px; box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23); background-color: #fff;"> 
          <table class="table table-hover" style="padding: 0px; margin: 0px;"> 
            <tbody>
              <tr>
                <td>
        <img src="{{ friend.customer.image.url }}" alt="..." style="width: 55px; height: 55px; border-radius: 50%;">     
                </td>
                <td>

          <form action="../message_customer/" method="POST" role="form">
              {% csrf_token %}
              <div class="input-group">
                  <textarea class="form-control" name="content" cols="100" style="width: 100%; resize: vertical; border-radius: 2px;overflow-y: hidden;" placeholder="Введите текст сообщения..."></textarea>     
              </div>
              <div class="input-group" style="display: none;">
                <input type="text" name="id" value="{{ friend.user_id }}">
                <input type="text" name="from" value="customer">     
              </div>
              <br> 
                <input type="submit" value="Отправить" class="btn btn-primary thumbnail" style="float: right; margin: 0px; ">
          </form> 

                </td>
                <td>
        <img src="{{ friend.user.image.url }}" alt="..." style="width: 55px; height: 55px; border-radius: 50%;">         
                </td>
              </tr>
            </tbody>
          </table>          
      </div>
    </div>
    <div class="col-md-12 col-xs-12" style="margin: 0px; overflow: scroll; height: 500px;">

{% for message in messages_ls %}
{% if friend.user.id == message.user.id %}

  {% if message.sender == 'user' %}

          <table class="table"> 
            <tbody>
              <tr>
                <td style="width: 100%;">
      <span class="label label-default">{{ message.date_created }}</span>
      <div class="thumbnail">
          {{ message.content }}
      </div>
                </td>
                <td>
        <img src="{{ friend.user.image.url }}" alt="..." style="width: 55px; height: 55px; border-radius: 50%;">     
                </td>
              </tr>
            </tbody>
          </table>  

  {% elif message.sender == 'customer' %}

          <table class="table"> 
            <tbody>
              <tr>
                <td>
        <img src="{{ friend.customer.image.url }}" alt="..." style="width: 55px; height: 55px; border-radius: 50%;">         
                </td>
                <td style="width: 100%;">
      <span class="label label-default">{{ message.date_created }}</span>
      <div class="thumbnail" style="width: 100%;">
          {{ message.content }}
      </div>
                </td>
              </tr>
            </tbody>
          </table> 

  {% endif %}

 {% endif %}
{% endfor %}

    </div>
    </div>
  {% endfor %}
  </div>
</div>


</div>

</div>
  
</body>
</html>
