{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
<body>

  {% include 'navbar.html' %}

<div class="col-md-3">

    <div class="list-group" style="padding: 0px; border-radius: 4px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
      <a href="../customer_main/" class="list-group-item">
      <span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-right: 15px;"></span>Главная</a>
      <a href="../customer_profile/" class="list-group-item">
      <span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right: 15px;"></span>Мой профиль</a>
      <a href="../customer_goods/" class="list-group-item">
       <i class="fa fa-cart-plus fa-lg" aria-hidden="true" style="padding-right: 15px;"></i>Добавить товар
        <span class="badge">2</span></a>
      <a href="../customer_messages/" class="list-group-item">
      <span class="fa fa-comments-o fa-lg" aria-hidden="true" style="padding-right: 15px;"></span>Сообщение 
        <span class="badge">7</span></a>
      <a href="../customer_statistics/" class="list-group-item">
      <span class="fa fa-line-chart" aria-hidden="true" style="padding-right: 15px;"></span>Статистика
        <span class="badge">5</span></a>        
    </div>
    
</div>

<div class="col-md-9">
    <div class="col-md-12 col-xs-12">     
      <div class="jumbotron" style="border-radius: 2px; box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23); background-color: #fff;">
        <form action="../update_product/" method="POST" enctype="multipart/form-data" role="form" style="margin:15px;">  
            {% csrf_token %}
{% for product in products %}

          <div class="form-group">
            <span class="label label-danger">Главная Фото</span>
            <input type="file" accept="image/*" class="form-control" name="image_1" value="{{ product.image_1.url }}">
          </div>  

          <div class="form-group">
            <span class="label label-danger">2 Фото</span>
            <input type="file" accept="image/*" class="form-control" name="image_2" value="{{ product.image_2.url }}">
          </div>  

          <div class="form-group">
            <span class="label label-danger">3 Фото</span>
            <input type="file" accept="image/*" class="form-control" name="image_3" value="{{ product.image_3.url }}">
          </div>  

          <div class="form-group">
            <span class="label label-danger">4 Фото</span>
            <input type="file" accept="image/*" class="form-control" name="image_4" value="{{ product.image_4.url }}">
          </div>  

          <div class="form-group">
            <span class="label label-danger">Заглавие</span>
            <input type="text" class="form-control" name="title" placeholder="Заглавие" required="required" value="{{ product.title }}">
            <input type="text" name="id" value="{{ product.id }}" style="display: none;">
          </div>
          <div class="form-group">
            <span class="label label-danger">Цена</span>
            <input type="number" class="form-control" name="price" placeholder="Цена" required="required" value="{{ product.price }}">
          </div>  
          <div class="form-group">
              <span class="label label-danger">Содержание</span>
              <textarea class="form-control" name ="content" cols="100" style="width: 100%; border-radius: 2px;resize: vertical;">
                {{ product.content }}
              </textarea>   
          </div> 

{% endfor %}


          <button type="submit" class="btn btn-primary">Отправить</button>
        </form>      
      </div>
    </div>
</div>

</body>
</html>
