{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
<body>

  {% include 'navbar.html' %}

<div class="col-md-3">

    <div class="list-group" style="padding: 0px; border-radius: 4px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
      <a href="../customer_main/" class="list-group-item">
      <span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-right: 15px;"></span>Главная</a>
      <a href="../customer_profile/" class="list-group-item active">
      <span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right: 15px;"></span>Мой профиль</a>
      <a href="../customer_goods/" class="list-group-item">
       <i class="fa fa-cart-plus fa-lg" aria-hidden="true" style="padding-right: 15px;"></i>Добавить товар
        <span class="badge">2</span></a>
      <a href="../customer_messages/" class="list-group-item">
      <span class="fa fa-comments-o fa-lg" aria-hidden="true" style="padding-right: 15px;"></span>Сообщение 
        <span class="badge">7</span></a>
      <a href="../customer_statistics/" class="list-group-item">
      <span class="fa fa-line-chart" aria-hidden="true" style="padding-right: 15px;"></span>Статистика
        <span class="badge">5</span></a>        
    </div>
    
</div>

<div class="col-lg-9 col-sm-9">
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="..." style="box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
        <div class="btn-group" role="group" >
            <a id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab">
              Профиль
              <br>
              <span class="fa fa-user" aria-hidden="true" style="padding-right: 15px;"></span>
              <span class="badge">3</span>
            </a>
        </div>
        <div class="btn-group" role="group" >
            <a id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab">
              Друзья
              <br>
              <span class="fa fa-group" aria-hidden="true" style="padding-right: 15px;"></span>
              <span class="badge">1</span>
            </a>
        </div>
    </div>

      <div class="tab-content" style="margin: 15px;">
        <div class="tab-pane fade in active" id="tab1">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th scope="row">Аватар</th>
              <td><img src="{{ request.session.image }}" class="img-responsive thumbnail" alt="Image" style=" border-radius: 2px 2px 0px 0px; height: 200px;"></td>
            </tr>
            <tr>
              <th scope="row">Фамилия</th>
              <td>{{ request.session.surname }}</td>
            </tr>
            <tr>
              <th scope="row">Имя</th>
              <td>{{ request.session.name }}</td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td>{{ request.session.email }}</td>
            </tr>
            <tr>
              <th scope="row">Телефон</th>
              <td>{{ request.session.telephone }}</td>
            </tr>
            <tr>
              <th scope="row">Пароль</th>
              <td>{{ request.session.password }}</td>
            </tr>    
          </tbody>
        </table>
        </div>

        <div class="tab-pane fade in" id="tab2">

        </div>
      </div>
    </div>
    

<script>
  
$(document).ready(function() {
$(".btn-pref .btn").click(function () {
    $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
    $(".tab").addClass("active");
    $(this).removeClass("btn-default").addClass("btn-primary");   
});
});

</script>
  
</body>
</html>
