<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>ALX</title>
	<script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "js/bootstrap.js" %}"></script>
	<script src="{% static "js/npm.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome.css" %}">	
</head>