{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
<body>

  {% include 'navbar.html' %}

<div class="col-md-3">

    <div class="list-group" style="padding: 0px; border-radius: 4px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
      <a href="/" class="list-group-item">
      <span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-right: 15px;"></span>Главная</a>
      <a href="/profile" class="list-group-item">
      <span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right: 15px;"></span>Мой профиль 
      </a>
      <a href="/basket" class="list-group-item">
       <i class="fa fa-shopping-basket" aria-hidden="true" style="padding-right: 15px;"></i>Корзина 
        <span class="badge">2</span>
      </a>
      <a href="/dream" class="list-group-item  active">
      <span class="glyphicon glyphicon-heart" aria-hidden="true" style="padding-right: 15px;"></span>Мои желание 
        <span class="badge">7</span>
      </a>
      <a href="/store" class="list-group-item">
      <span class="glyphicon glyphicon-inbox" aria-hidden="true" style="padding-right: 15px;"></span>Любимые продавцы
        <span class="badge">5</span>
      </a>
      <a href="/about" class="list-group-item">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="padding-right: 15px;"></span>О нас</a>            
    </div>

</div>

{% if request.session.name %}

<div class="col-md-9">


<div class="col-sm-12" style="margin: 0px; padding: 0px;">


{% for prod in products %}

    <div class="col-md-4 col-xs-6">        
      <span class="label label-success" style="position: absolute; right: 15px;">
        <a href="/index_customer_main/?id={{ prod.product.customer.id}}" style="color: #fff;">
          
        {{ prod.product.customer.surname }}
        {{ prod.product.customer.name }}

        </a>
      </span>         
      <div class="jumbotron" style="border-radius: 0px 0px 2px 2px; padding: 0px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); background-color: #fff; height: 400px;">
      <a href="/index_main_content/?id={{ product.id }}"> 
        <img src="{{ prod.product.image_1.url }}" alt="..." style="width: 100%; border-radius: 2px 2px 0px 0px; height: 65%;"> 
      </a>                 
        <div class="container">
          <a href="/dream_delete/?id={{ prod.product_id }}" style="float: right; padding-top: 10px;" class="btn fa fa-lg fa-remove"></a>
          <h4>{{ prod.product.price }} $</h4>
          <h4>{{ prod.product.title }}</h4>
          <h4>
            <a href="/index_main_content/?id={{ prod.product.id }}" class="btn">Подробнее</a>
          </h4>
        </div>
      </div>
    </div>

{% endfor %}
   
</div>
</div>

{% else %}

<div class="col-lg-9 col-sm-9">
  <a href="../registration" class="btn btn-success">
    Пройти регистрацию на сайте
  </a>
</div>

{% endif %} 
  
</body>
</html>
