
	<div class="btn-group btn-group-justified btn-group-sm" role="group" aria-label="..." >
        <div class="btn-group" role="group" >
            <a id="stars" class="btn" href="#tab1" data-toggle="tab" style="padding: 0px;">
              Покупатель
            </a>
        </div>
        <div class="btn-group" role="group" >
            <a id="favorites" class="btn" href="#tab2" data-toggle="tab" style="padding: 0px;">
              Продавец
            </a>
        </div>
    </div>

    <div class="tab-content" style="margin: 15px; background: ">
        <div class="tab-pane fade in active" id="tab1">
			<form action="../check_user/" method="POST" role="form" style="margin: 15px;">
        	{% csrf_token %}
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Email" name = "email" required="required">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Пароль" name="password" required="required">
				</div>
				<div class="form-group" align="center">
					<button type="submit" class="btn btn-success" style="width: 100%;">Войти</button>
				</div>			
			</form>

        </div>
        <div class="tab-pane fade in" id="tab2">
			<form action="../check_customer/" method="POST" role="form" style="margin: 15px;">
        	{% csrf_token %}
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Email" name = "email" required="required">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Пароль" name="password" required="required">
				</div>
				<div class="form-group" align="center">
					<button type="submit" class="btn btn-primary" style="width: 100%;">Войти</button>
				</div>			
			</form>

        </div>
    </div>

	<div class="form-group" align="center">
		<a href="/registration" class="btn" style="width: 100%;">Регистрация</a>
	</div>    