{% if request.session.user %}


{% if likes.product_id == None %}
<td>
  <a href="../like/?id={{ product.id }}" class="btn thumbnail" style="background-color: yellow; color: #fff; width: 100%;">
    <b><i class="fa fa-lg fa-thumbs-o-up" aria-hidden="true"></i></b>
  </a>
</td> 
{% else %}
<td>
  <a href="../like/?id={{ product.id }}" class="btn disabled thumbnail" style="background-color: yellow; color: #fff; width: 100%;">
    <b><i class="fa fa-lg fa-thumbs-o-up" aria-hidden="true"></i></b>
  </a>
</td> 
{% endif %} 


{% if dreams.product_id == None %}
<td>
  <a href="../dream_insert/?id={{ product.id }}" class="btn thumbnail" style="background-color: orange; color: #fff; width: 100%;">
    <b>Мои желание</b>
  </a>
</td>
{% else %}
<td>
  <a href="../dream_insert/?id={{ product.id }}" class="btn thumbnail disabled" style="background-color: orange; color: #fff; width: 100%;">
    <b>Мои желание</b>
  </a>
</td>
{% endif %} 


{% if buskets.product_id == None %}
<td>
  <a href="../busket/?id={{ product.id }}" class="btn thumbnail" style="background-color: red; color: #fff; width: 100%;">
    <b>В корзину</b>
  </a>
</td>
{% else %}
<td>
  <a href="../busket/?id={{ product.id }}" class="btn disabled thumbnail" style="background-color: red; color: #fff; width: 100%;">
    <b>В корзину</b>
  </a>
</td>
{% endif %}


{% endif %} 
