{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
<body>

  {% include 'navbar.html' %}

<div class="col-md-3">

    <div class="list-group" style="padding: 0px; border-radius: 4px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
      <a href="/" class="list-group-item">
      <span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-right: 15px;"></span>Главная</a>
      <a href="/profile" class="list-group-item">
      <span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right: 15px;"></span>Мой профиль 
      </a>
      <a href="/basket" class="list-group-item active">
       <i class="fa fa-shopping-basket" aria-hidden="true" style="padding-right: 15px;"></i>Корзина 
        <span class="badge">2</span>
      </a>
      <a href="/dream" class="list-group-item">
      <span class="glyphicon glyphicon-heart" aria-hidden="true" style="padding-right: 15px;"></span>Мои желание 
        <span class="badge">7</span>
      </a>
      <a href="/store" class="list-group-item">
      <span class="glyphicon glyphicon-inbox" aria-hidden="true" style="padding-right: 15px;"></span>Любимые продавцы
        <span class="badge">5</span>
      </a>
      <a href="/about" class="list-group-item">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="padding-right: 15px;"></span>О нас</a>            
    </div>

</div>

{% if request.session.name %}

<div class="col-md-9">
<legend>Информация о товаре</legend>

{% for user in users %}

    <div class="col-md-12" style="padding: 0px;">   
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Сумма товаров</th>
              <td>
                {{ user.busket_num }}
              </td>
            </tr>
            <tr>
              <th scope="row">Сумма цен</th>
              <td>{{ user.busket_price }} $</td>
            </tr> 
          </tbody>
        </table>   
    </div>

{% endfor %}


{% for prod in products %}
<div class="col-sm-12" style="margin: auto 0px; padding: 0px;">
    <div class="col-md-4" style="padding: 0px; margin: 0px;">   
        <table class="table table-bordered" style="padding: 0px; margin: 0px;">
          <tbody>
            <tr>
              <th scope="row">Продавец</th>
              <td>
                <a href="/index_customer_main/?id={{ prod.product.customer.id }}">       
                {{ prod.product.customer.surname }}
                {{ prod.product.customer.name }}
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">Название</th>
              <td>{{ prod.product.title }}</td>
            </tr>
            <tr>
              <th scope="row">Цена</th>
              <td>{{ prod.product.price }} $</td>
            </tr>
            <tr>
              <th scope="row">Подробнее о товаре</th>
              <td>
                <a href="/index_main_content/?id={{ prod.product.id }}" class="btn btn-info" style="width:100%;">Подробнее</a>
              </td>
              <td>
                <a href="/dream_delete/?id={{ prod.product_id }}" class="btn btn-primary" style="width:100%;">Купить</a>
              </td>
              <td>
                <a href="/busket_delete/?id={{ prod.product_id }}" class="btn btn-danger" style="width:100%;">Убрать</a>
              </td>
            </tr>  
          </tbody>
        </table>   
    </div>
    <div class="col-md-8" style="padding: 0px; margin: 0px;">
        <table class="table table-bordered"  style="padding: 0px; margin: 0px;">
          <tbody>
            <tr>
              <th scope="row">Покупатель</th>
              <td>
              {{ prod.user.surname }}
              {{ prod.user.name }}
              </td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td>{{ prod.user.email }}</td>
            </tr>
            <tr>
              <th scope="row">Телефон</th>
              <td>{{ prod.user.telephone }}</td>
            </tr>    
          </tbody>
        </table>  
    </div> 
</div>
{% endfor %}

</div>

{% else %}

<div class="col-lg-9 col-sm-9">
  <a href="../registration" class="btn btn-success">
    Пройти регистрацию на сайте
  </a>
</div>

{% endif %} 
 
</body>
</html>
