{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
<body>

  {% include 'navbar.html' %}

<div class="col-md-3">

    <div class="list-group" style="padding: 0px; border-radius: 4px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
      <a href="/" class="list-group-item">
      <span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-right: 15px;"></span>Главная</a>
      <a href="/profile" class="list-group-item active">
      <span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right: 15px;"></span>Мой профиль 
      </a>
      <a href="/basket" class="list-group-item">
       <i class="fa fa-shopping-basket" aria-hidden="true" style="padding-right: 15px;"></i>Корзина 
        <span class="badge">2</span>
      </a>
      <a href="/dream" class="list-group-item">
      <span class="glyphicon glyphicon-heart" aria-hidden="true" style="padding-right: 15px;"></span>Мои желание 
        <span class="badge">7</span>
      </a>
      <a href="/store" class="list-group-item">
      <span class="glyphicon glyphicon-inbox" aria-hidden="true" style="padding-right: 15px;"></span>Любимые продавцы
        <span class="badge">5</span>
      </a>
      <a href="/about" class="list-group-item">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="padding-right: 15px;"></span>О нас</a>     

    </div>

</div>


{% if request.session.name %}


<div class="col-lg-9 col-sm-9">

    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="..." style="box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
        <div class="btn-group" role="group" >
            <a id="stars" class="btn btn-default" href="#tabs1" data-toggle="tab">
              Профиль
              <br>
              <span class="fa fa-user" aria-hidden="true" style="padding-right: 15px;"></span>
              <span class="badge">3</span>
            </a>
        </div>
        <div class="btn-group" role="group" >
            <a id="favorites" class="btn btn-primary" href="#tabs2" data-toggle="tab">
              Сообщение
              <br>
              <span class="fa fa-comments-o" aria-hidden="true" style="padding-right: 15px;"></span>
              <span class="badge">1</span>
            </a>
        </div>
    </div>

      <div class="tab-content" style="margin: 15px;">
        <div class="tab-pane fade in " id="tabs1">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Аватар</th>
              <td><img src="{{ request.session.image }}" class="img-responsive thumbnail" alt="Image" style=" border-radius: 2px 2px 0px 0px; height: 200px;"></td>
            </tr>
            <tr>
              <th scope="row">Фамилия</th>
              <td>{{ request.session.surname }}</td>
            </tr>
            <tr>
              <th scope="row">Имя</th>
              <td>{{ request.session.name }}</td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td>{{ request.session.email }}</td>
            </tr>
            <tr>
              <th scope="row">Телефон</th>
              <td>{{ request.session.telephone }}</td>
            </tr>
            <tr>
              <th scope="row">Пароль</th>
              <td>{{ request.session.password }}</td>
            </tr>    
          </tbody>
        </table>
        </div>

        <div class="tab-pane fade in active" id="tabs2">

<div class="col-lg-2">
  <div class="btn-group-vertical">
    {% for friend in friends %}
    <a class="btn thumbnail" href="#friend{{ friend.customer.id }}" data-toggle="tab" role="button" style="margin: 0px; padding: 5px;">
      {{ friend.customer.name }}
      {{ friend.customer.surname }}
    </a>
    {% endfor %}
  </div>
</div>


<div class="col-lg-10">
  <div class="tab-content">

  {% for friend in friends %}

    <div class="tab-pane fade in" id="friend{{ friend.customer.id }}">

    <div class="col-md-12 col-xs-12">     
      <div class="jumbotron" style="padding: 0px; margin: 0px; border-radius: 2px; box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23); background-color: #fff;"> 
          <table class="table table-hover" style="padding: 0px; margin: 0px;"> 
            <tbody>
              <tr>
                <td>
        <img src="{{ friend.user.image.url }}" alt="..." style="width: 55px; height: 55px; border-radius: 50%;">     
                </td>
                <td>

          <form action="../message_user/" method="POST" role="form">
              {% csrf_token %}
              <div class="input-group">
                  <textarea class="form-control" name="content" cols="100" style="width: 100%; resize: vertical; border-radius: 2px;overflow-y: hidden;" placeholder="Введите текст сообщения..."></textarea>     
              </div>
              <div class="input-group" style="display: none;">
                <input type="text" name="id" value="{{ friend.customer_id }}">
                <input type="text" name="from" value="user">     
              </div>
              <br> 
                <input type="submit" value="Отправить" class="btn btn-primary thumbnail" style="float: right; margin: 0px; ">
          </form> 

                </td>
                <td>
        <img src="{{ friend.customer.image.url }}" alt="..." style="width: 55px; height: 55px; border-radius: 50%;">         
                </td>
              </tr>
            </tbody>
          </table>          
      </div>
    </div>
    <div class="col-md-12 col-xs-12" style="margin: 0px; overflow: scroll; height: 500px;">

{% for message in messages_ls %}
{% if friend.customer.id == message.customer.id %}

  {% if message.sender == 'user' %}

          <table class="table"> 
            <tbody>
              <tr>
                <td>
        <img src="{{ friend.user.image.url }}" alt="..." style="width: 55px; height: 55px; border-radius: 50%;">     
                </td>
                <td style="width: 100%;">
      <span class="label label-default">{{ message.date_created }}</span>
      <div class="thumbnail">
          {{ message.content }}
      </div>
                </td>
              </tr>
            </tbody>
          </table>  

  {% elif message.sender == 'customer' %}

          <table class="table"> 
            <tbody>
              <tr>
                <td style="width: 100%;">
      <span class="label label-default">{{ message.date_created }}</span>
      <div class="thumbnail" style="width: 100%;">
          {{ message.content }}
      </div>
                </td>
                <td>
        <img src="{{ friend.customer.image.url }}" alt="..." style="width: 55px; height: 55px; border-radius: 50%;">         
                </td>
              </tr>
            </tbody>
          </table> 

  {% endif %}

 {% endif %}
{% endfor %}

    </div>
    </div>
  {% endfor %}
  </div>
</div>


        </div>
        
      </div>
    </div>

    {% else %}

<div class="col-lg-9 col-sm-9">
  <a href="../registration" class="btn btn-success">
    Пройти регистрацию на сайте
  </a>
</div>
  {% endif %} 




            

<script>
  
$(document).ready(function() {
$(".btn-pref .btn").click(function () {
    $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
    $(".tab").addClass("active"); // instead of this do the below 
    $(this).removeClass("btn-default").addClass("btn-primary");   
});
});

</script>
  
</body>
</html>
