{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
<body>

  {% include 'navbar.html' %}

<div class="col-md-3">

    <div class="list-group" style="padding: 0px; border-radius: 4px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
      <a href="/" class="list-group-item">
      <span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-right: 15px;"></span>Главная</a>
      <a href="/profile" class="list-group-item">
      <span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right: 15px;"></span>Мой профиль 
      </a>
      <a href="/basket" class="list-group-item">
       <i class="fa fa-shopping-basket" aria-hidden="true" style="padding-right: 15px;"></i>Корзина 
        <span class="badge">2</span>
      </a>
      <a href="/dream" class="list-group-item">
      <span class="glyphicon glyphicon-heart" aria-hidden="true" style="padding-right: 15px;"></span>Мои желание 
        <span class="badge">7</span>
      </a>
      <a href="/store" class="list-group-item">
      <span class="glyphicon glyphicon-inbox" aria-hidden="true" style="padding-right: 15px;"></span>Любимые продавцы
        <span class="badge">5</span>
      </a>
      <a href="/about" class="list-group-item active">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="padding-right: 15px;"></span>О нас</a>            
    </div>

</div>

<div class="col-md-9">



</div>


</div>

  </div>
</div>
  
</body>
</html>
