{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
<body>

  {% include 'navbar.html' %}

<div class="col-md-3">

    <div class="list-group" style="padding: 0px; border-radius: 4px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
      <a href="/" class="list-group-item">
      <span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-right: 15px;"></span>Главная</a>
      <a href="/profile" class="list-group-item">
      <span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right: 15px;"></span>Мой профиль 
      </a>
      <a href="/basket" class="list-group-item">
      <i class="fa fa-shopping-basket" aria-hidden="true" style="padding-right: 15px;"></i>Корзина 
        <span class="badge">2</span>
      </a>
      <a href="/dream" class="list-group-item">
      <span class="glyphicon glyphicon-heart" aria-hidden="true" style="padding-right: 15px;"></span>Мои желание 
        <span class="badge">7</span>
      </a>
      <a href="/store" class="list-group-item">
      <span class="glyphicon glyphicon-inbox" aria-hidden="true" style="padding-right: 15px;"></span>Любимые продавцы
        <span class="badge">5</span>
      </a>
      <a href="/about" class="list-group-item">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="padding-right: 15px;"></span>О нас</a>            
    </div>

</div>

<div class="col-md-9">

{% for customer in customers %}

<div class="col-sm-12" style="margin-bottom: 15px; padding: 0px;">

<legend>Информация о продавце</legend>

        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Фамилия</th>
              <td>{{ customer.surname }}</td>
            </tr>
            <tr>
              <th scope="row">Имя</th>
              <td>{{ customer.name }}</td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td>{{ customer.email }}</td>
            </tr>
            <tr>
              <th scope="row">Телефон</th>
              <td>{{ customer.telephone }}</td>
            </tr>
            <tr>
              <th scope="row">Товары</th>
              <td>{{ customer.products_sum }}</td>
            </tr>  
            <tr>
              <th scope="row">Мои желание</th>
              <td>{{ customer.dream_sum }}</td>
            </tr>
            <tr>
              <th scope="row">Отзывы</th>
              <td>{{ customer.comment_sum }}</td>
            </tr> 
{% if request.session.user %}
            <tr>
              <th scope="row">Любимые продавцы</th>

              
{% if friends.customer_id == None %}
  <td><a href="../friend_add/?id={{ customer.id }}" class="btn btn-primary" style="width: 100%;">Добавить</a></td>
{% else %}
  <td><a href="../friend_add/?id={{ customer.id }}" class="btn btn-primary disabled" style="width: 100%;">Добавить</a></td>
{% endif %}               
            </tr>    
            <tr>
              <th scope="row">Сообщение</th>
              <td><a href="../profile/?id={{ customer.id }}" class="btn btn-success" style="width: 100%;">Отправить</a></td>
            </tr>
{% endif %}             
          </tbody>
        </table>

</div>

{% endfor %}

<div class="col-sm-12" style="margin-bottom: 15px; padding: 0px;">
<legend>Все товары</legend>

{% for product in products %}

    <div class="col-md-4 col-xs-6">        
      <span class="label label-success" style="position: absolute; right: 15px;">
        <a href="" style="color: #fff;">
          
        {{ product.customer.surname }}
        {{ product.customer.name }}

        </a>
      </span>         
      <div class="jumbotron" style="border-radius: 0px 0px 2px 2px; padding: 0px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); background-color: #fff; height: 300px;">
      <a href="/index_main_content/?id={{ product.id }}"> 
        <img src="{% static "images/goods/tesla-model-roadster.jpg" %}" alt="..." style="width: 100%; border-radius: 2px 2px 0px 0px; height: 65%;"> 
      </a>                 
        <div class="container">
          <h4>{{ product.price }} $</h4>
          <h4>{{ product.title }}</h4>
          <h4>
            <a href="/index_main_content/?id={{ product.id }}" class="btn">Подробнее</a>
          </h4>
        </div>
      </div>
    </div>

{% endfor %}


</div>

</div>
  
</body>
</html>
