{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
<body>

  {% include 'navbar.html' %}

<div class="col-md-3">

    <div class="list-group" style="padding: 0px; border-radius: 4px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
      <a href="/" class="list-group-item">
      <span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-right: 15px;"></span>Главная</a>
      <a href="/profile" class="list-group-item">
      <span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right: 15px;"></span>Мой профиль 
      </a>
      <a href="/basket" class="list-group-item">
      <i class="fa fa-shopping-basket" aria-hidden="true" style="padding-right: 15px;"></i>Корзина 
        <span class="badge">2</span>
      </a>
      <a href="/dream" class="list-group-item">
      <span class="glyphicon glyphicon-heart" aria-hidden="true" style="padding-right: 15px;"></span>Мои желание 
        <span class="badge">7</span>
      </a>
      <a href="/store" class="list-group-item">
      <span class="glyphicon glyphicon-inbox" aria-hidden="true" style="padding-right: 15px;"></span>Любимые продавцы
        <span class="badge">5</span>
      </a>
      <a href="/about" class="list-group-item">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="padding-right: 15px;"></span>О нас</a>            
    </div>

</div>



{% for product in products %}
<div class="col-md-9">


    <div class="col-md-12 col-xs-12">     
      <div class="jumbotron" style="border-radius: 2px; padding: 0px; box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23); background-color: #fff;">
        <img src="{{ product.image_1.url }}" id="image_1" alt="..." style="width: 100%; border-radius: 2px 2px 0px 0px;">         
        <div class="btn-group" role="group" aria-label="Basic example" style="margin: 15px; margin-bottom: 0px;">
          <a href="#image_1" class="btn thumbnail btn-secondary" style="width: 65px; height: 50px;">
            <img src="{{ product.image_1.url }}" onclick="changeImage('{{ product.image_1.url }}')"  alt="..." style="width: 65px; height: 40px; border-radius: 2px;">
          </a>
          <a href="#image_1" class="btn thumbnail btn-secondary" style="width: 65px; height: 50px;">
            <img src="{{ product.image_2.url }}" onclick="changeImage('{{ product.image_2.url }}')"  alt="..." style="width: 65px; height: 40px; border-radius: 2px;">
          </a>  
          <a href="#image_1" class="btn thumbnail btn-secondary" style="width: 65px; height: 50px;">
            <img src="{{ product.image_3.url }}" onclick="changeImage('{{ product.image_3.url }}');" alt="..." style="width: 65px; height: 40px; border-radius: 2px;">
          </a> 
          <a href="#image_1" class="btn thumbnail btn-secondary" style="width: 65px; height: 50px;">
            <img src="{{ product.image_4.url }}" onclick="changeImage('{{ product.image_4.url }}')" alt="..." style="width: 65px; height: 40px; border-radius: 2px;">
          </a>          
        </div>

        <div class="container">
          <h2>{{ product.title }}</h2>
          <h4 style="color: red;"><b>{{ product.price }} $</b></h4>
          <div style="margin: 15px;">          
              {{ product.content }}
          </div>
          <table class="table">
            <tbody align="center">
              <tr>
                <td><a href="" class="btn thumbnail" style="background-color: #597DA3; color: #fff; width: 100%;">
                <b>
                <i class="fa fa-lg fa-vk" aria-hidden="true"></i>
                </b></a></td>
                <td><a href="" class="btn thumbnail" style="background-color: #3A5795; color: #fff; width: 100%;">
                <b>
                  <i class="fa fa-lg fa-facebook" aria-hidden="true"></i>
                </b></a></td>
                <td><a href="" class="btn thumbnail" style="background-color: #009688; color: #fff; width: 100%;">
                <b>
                <i class="fa fa-lg fa-whatsapp" aria-hidden="true"></i>
                </b></a></td>
                <td><a href="" class="btn thumbnail" style="background-color: #125688; color: #fff; width: 100%;">
                <b>
                  <i class="fa fa-lg fa-instagram" aria-hidden="true"></i>
                </b></a></td>                
              </tr>
            </tbody>
          </table>

          <table class="table">
            <tbody align="center">
              <tr>
                <td><b>{{ product.like_num }}</b>
                    <br>
                    Рейтинг
                </td>
                <td><b>{{ product.sales_num }}</b> 
                  <br>
                  Продано
                </td>
                <td><b>{{ product.dream_num }}</b>
                <br>
                    Мои желание
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table">
            <tbody align="center">
              <tr>
              
{% include 'index_main_content_add.html' %}

              </tr>
            </tbody>
          </table>

          <table class="table">
            <thead>
              <tr>
                <b>Информация о магазине</b>
              </tr>
            </thead>           
            <tbody align="center">
              <tr>
                <td><b>{{ product.customer.products_sum }}</b>
                    <br>
                    Товаров
                </td>
                <td><b>{{ product.customer.comment_sum }}</b> 
                  <br>
                  Отзывы
                </td>
                <td><b>{{ product.customer.dream_sum }}</b>
                <br>
                    Мои желание
                </td>
              </tr>
            </tbody>
          </table>

          <a href="/index_customer_main/?id={{ product.customer.id}}" class="btn thumbnail" style="width: 100%;">
          <b>Перейти к продавцу</b></a>
        </div>
      </div>
    </div>

{% if request.session.user %}
    <div class="col-md-12 col-xs-12">     
      <div class="jumbotron" style="padding: 15px 0px 0px 0px; border-radius: 2px; box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23); background-color: #fff;"> 
        <div class="container">
          <table class="table table-hover">
            <thead>
              <tr>
                <b>{{ request.session.surname }} {{ request.session.name }}</b>
              </tr>
            </thead>          
            <tbody>
              <tr>
                <td>
        <img src="{{ request.session.image }}" alt="..." style="width: 55px; height: 55px; border-radius: 50%;">                  
                </td>
                <td>
          <form action="../comment/" method="POST" role="form">
          {% csrf_token %}
              <div class="input-group">
                  <textarea class="form-control" name="comment" cols="200" style="width: 100%; resize: none; border-radius: 2px;overflow-y: hidden;" placeholder="Введите текст сообщения..."></textarea>  
                  <input type="text" value="{{ product.id }}" name="id" style="display: none;">   
              </div>  
              <br> 
                <input type="submit" value="Отправить отзыв" class="btn btn-primary btn-sm" style="float: right;">             
          </form>                  
                </td>
              </tr>
            </tbody>
          </table>          
        </div>
      </div>
    </div>
{% endif %}

    {% endfor %}

    <div class="col-md-12 col-xs-12">     
      <div class="jumbotron" style="border-radius: 2px; box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23); background-color: #fff;"> 
        <div class="container">
{% for comment in comments %}

          <table class="table table-hover">
            <thead>
              <tr>
                <b>{{ comment.user.surname }} {{ comment.user.name }}</b>
                <i style="float: right;">{{ comment.date_created}}</i>
              </tr>
            </thead>          
            <tbody>
              <tr>
                <td>
        <img src="{{ comment.user.image.url }}" alt="..." style="width: 55px; height: 55px; border-radius: 50%;">                  
                </td>
                <td>
                  {{ comment.comment }}               
                </td>
              </tr>
            </tbody>
          </table>  

{% endfor %}
        </div>
      </div>
    </div>

</div>

<script type="text/javascript">
function changeImage(a) {
    document.getElementById("image_1").src=a;
}
</script>

</body>
</html>
