<!DOCTYPE html>
<html lang="en">
	{% include 'head.html' %}
<body>
	{% include 'navbar.html' %}

<div class="container">
	<div class="row">

	<div class="btn-group btn-group-justified btn-group-sm" role="group" aria-label="..." >
        <div class="btn-group" role="group" >
            <a id="stars" class="btn" href="#tabs1" data-toggle="tab" style="padding: 0px;">
              Покупатель
            </a>
        </div>
        <div class="btn-group" role="group" >
            <a id="favorites" class="btn" href="#tabs2" data-toggle="tab" style="padding: 0px;">
              Продавец
            </a>
        </div>
    </div>
    <hr>

    <div class="tab-content" style="margin: 15px; background: ">
        <div class="tab-pane fade in active" id="tabs1">
        	
			<form action="../insert_user/" method="POST" enctype="multipart/form-data" role="form" style="margin:15px;">
				{% csrf_token %}
				<legend>Регистрация покупателя</legend>		
				<div class="form-group">
					<span class="label label-danger">фамилия</span>
					<input type="text" class="form-control" name="surname" placeholder="фамилия" required="required">
				</div>	
				<div class="form-group">
					<span class="label label-danger">Имя</span>
					<input type="text" class="form-control" name="name" placeholder="Имя" required="required">
				</div>
				<div class="form-group">
					<span class="label label-danger">Номер телефона</span>
					<input type="number" class="form-control" min="{11}" name="telephone" placeholder="Номер телефона" required="required">
				</div>	
				<div class="form-group">
					<span class="label label-danger">Аватар</span>
					<input type="file" accept="image/*" class="form-control" name="image" required="required">
				</div>	
				<div class="form-group">
					<span class="label label-danger">Email</span>
					<input type="email" class="form-control" name="email" placeholder="Email" required="required">
				</div>
				<div class="form-group">
					<span class="label label-danger">Пароль</span>
					<input type="password" class="form-control" name="password" placeholder="Пароль" required="required">
				</div>			
				<button type="submit" class="btn btn-success">Отправить</button>
			</form>

        </div>

        <div class="tab-pane fade in" id="tabs2">
        	
			<form action="../insert_customer/" method="POST" enctype="multipart/form-data" role="form" style="margin:15px;">
				{% csrf_token %}
				<legend>Регистрация продавца</legend>		
				<div class="form-group">
					<span class="label label-danger">фамилия</span>
					<input type="text" class="form-control" name="surname" placeholder="фамилия" required="required">
				</div>	
				<div class="form-group">
					<span class="label label-danger">Имя</span>
					<input type="text" class="form-control" name="name" placeholder="Имя" required="required">
				</div>
				<div class="form-group">
					<span class="label label-danger">Город</span>
					<input type="text" class="form-control" name="city" placeholder="Город" required="required">
				</div>				
				<div class="form-group">
					<span class="label label-danger">Номер телефона</span>
					<input type="number" class="form-control" min="{11}" name="telephone" placeholder="Номер телефона" required="required">
				</div>	
				<div class="form-group">
					<span class="label label-danger">Аватар</span>
					<input type="file" accept="image/*" class="form-control" name="image" required="required">
				</div>
				<div class="form-group">
					<span class="label label-danger">Email</span>
					<input type="email" class="form-control" name="email" placeholder="Email" required="required">
				</div>
				<div class="form-group">
					<span class="label label-danger">Пароль</span>
					<input type="password" class="form-control" name="password" placeholder="Пароль" required="required">
				</div>			
				<button type="submit" class="btn btn-primary">Отправить</button>
			</form>

        </div>
    </div>   

	</div>
</div>	

<script>
  
$(document).ready(function() {
$(".btn-pref .btn").click(function () {
    $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
    $(".tab").addClass("active"); // instead of this do the below 
    $(this).removeClass("btn-default").addClass("btn-primary");   
});
});

</script>
</body>
</html>

