<nav class="navbar navbar-default" role="navigation" style="border-radius: 0px 0px 2px 2px; padding: 0px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); background-color: #fff; margin-bottom: 40px;">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
	{% if request.session.user %}
    	<span class="label label-success">
    		{{ request.session.surname }}
    		{{ request.session.name }} 
    	</span>
    	<span class="label label-primary">
    		{{ request.session.id }} 
    	</span>    	
    	<b><i><a href="../" class="navbar-brand"> A L X </a></i></b>

	{% elif request.session.city %}

    	<span class="label label-success">
    		{{ request.session.surname }}
    		{{ request.session.name }} 
    	</span>
    	<span class="label label-primary">
    		{{ request.session.id }} 
    	</span>    	
    	<b><i><a href="../customer_main" class="navbar-brand"> A L X </a></i></b>

    {% else %}
    	<b><i><a href="../" class="navbar-brand"> A L X </a></i></b>
	{% endif %}

					
		</div>
	{% if request.session.name %}
		<div class="collapse navbar-collapse navbar-ex1-collapse">			
			<ul class="nav navbar-nav navbar-right">				
				<li class="dropdown">
					<a class="navbar-brand" href="/logout"> Выйти</a>
				</li>
			</ul>				
		</div><!-- /.navbar-collapse -->
    {% else %}
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Войти<b class="caret"></b></a>
					<ul class="dropdown-menu" style="min-width: 300px;">
						{% include 'index_login.html' %}
					</ul>
				</li>
			</ul>		
			<form class="navbar-form navbar-right" role="search">
			    <div class="input-group">
			      <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
			      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Пойск">
			    </div>
			</form>
		</div><!-- /.navbar-collapse -->
	{% endif %}	

	</div>
</nav>